@charset "UTF-8";

html {
    height: 100%;
}

body {
    background-color: #002266;
    color: #f2f2f2;
    font: 16px arial, sans-serif;
    overflow: hidden;
    margin: 0px;
    height: 100%;
    width: 100%;
    /* Center content DIV */
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    background-color: #001133;
    border-style: none;
    overflow: hidden;
    /* Content je flex */
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
}

#inBorder {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #333333;
    border-style: none;
    max-height: 120px;
    min-height: 36px;
}
/* On desktops */
@media screen and (min-width: 1201px) {
    /* Main cntent div */
    #content {
        padding: 0.5%;
        border-radius: 10px;
        padding: 0.5%;

        /* Bude jiné na mobil */
        height: 80%;
        width: 50%;
        max-height: 90%;
        max-width: 90%;
        min-height: 400px;
        min-width: 300px;

        /* Možné měnit velikost */
        resize: both;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
    }

    #inBorder {
        border-radius: 8px;
    }
}

/* On mobile phones */
@media screen and (max-width: 1200px) {
    /* Main cntent div */
    #content {
        height: 100%;
        width: 100%;
    }
}

#head {
    background-color: #333333;
    width: 100%;
    display: flex;
}

#head div {
    width: 33%;
    margin: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#logo {
    height: 40px;
}

#chat {
    padding: 2%;
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;
}

.message {
    width: 100%;
    margin-bottom: 3px;
}

.msg_info {
    font-size: 65%;
    color: #cccccc;
    position: relative;
    top: 2px;
}

.msg_text {
    /*background-color: #1a1a1a;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;*/

}

#input {
    flex-grow: 1;
    border-style: none;
    padding: 8px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    white-space:pre-wrap;
    max-height: 100px;
    min-height: 16px;
}

#emot {
    flex-grow: 0;
    font-size: 20px;
    padding: 6px;
    text-align: center;
}

#emot:hover {
    cursor: pointer;
    font-weight: bold;
}

#emotMenu {
    display: none;
    background: #333333;
    cursor: pointer;
    width: 100%;
    height: 33%;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 150%;
    border-top: 1px solid #f2f2f2;
    word-wrap: break-word;
    text-align: justify;
}

#emotMenu span {
    margin: 1px;
}

#emotMenu span:hover {
    background-color: #002266;
}

a:link {
    color: #99ccff;
    text-decoration: underline;
}

a:hover, a:visited {
    color: #f2f2f2;
    text-decoration: none;
}

/*
General properties -------------------------------------------------------------
*/
.center, #headCenter {
    text-align: center;
}

.right, #headRight {
    text-align: right;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.small {
    font-size: 65%;
}

.xxl {
    font-size: 200%;
}

.zvyrazni, .z {
    color: #369f14;
}
